.title a
{
    color: white;
    text-decoration:underline;
}

.title a:hover{
    color: white;
    text-decoration: none;
    
}

.section1 button
{
    border-radius: 20px;
    background-color: #d50032;
    border-color: white;
    color:white;
    font-weight: 600;
}
.section2 button{
   background-color: #d50032;
   border-radius: 20px;
   color: white;
   border-color: white;
}
.section3 button{
    border-radius: 20px;
    background: none;
    color: white;
    border-width: 3px;
    border-color: white;
}
.section button{
     background: none;
     color: white;
     border-color: white;
     font: bolder;
     border-radius: 20px;
     font-weight: bolder;
     border-width: 2px;
}
.section5{
    background: none;
    color: white;
    border-color: white;
    font: bolder;
    border-radius: 20px;
    font-weight: bolder;
    border-width: 2px;
}
a{
    text-decoration: none;
}